*{

    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    
    font-family:'Times New Roman', Times, serif;
}

.img{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}


.avatar{
    width:150px;
    margin-left:25%;
    
}
form{
    width:360px;
    margin:9% auto;
    font-family:'Times New Roman', Times, serif;
}
form h2{
    font-size:2.9em;
    text-transform: uppercase;
    margin: 15px 0;
    color:#333;
}
.input-div{
    display: grid;
    grid-template-columns: 7% 93%;
    margin:25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.i{
    display:flex;
    justify-content: center;
    align-items: center;
}
.i i{
    color:#d9d9d9;
}
.input-div > div{
position: relative;
height: 45px;



}
input{
position: absolute;
width: 100%;
height: 100%;
top:0;
left:0;
border:none;
outline:none;
padding:0.5rem 0.7rem;
font-family:'Times New Roman', Times, serif;
}



a{
    display:block;
    text-align: center;
    text-align:none;
    color:#999;
    font-size:0.9rem;
    transition: .3s;

}
a:hover{
    color:#4c80f1;
}
.btn-secondary{
    display:block;
    width: 100%;
   
    
   
    

}