body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 700;  
    
  }


/*card*/


/*navbar*/
 .nav-link{
    font-size:12px;
    text-transform: uppercase;
    padding-left:16px!important;
    padding-right:16px!important;
    color:white;
    letter-spacing: 2px;
}

    /*Navbar*/
.my-bg{
    background-color:#746e6c;
    font-size:18px; 
    font-weight: 700;}

.navbar i{
    font-size: 1.2rem;
    padding:9px 10px;
    cursor:pointer;
    color:white;
}
/*mobile nav*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
    }

  
/*cover*/

.slider{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   

}
.slider:hover{
    filter: grayscale(40%);
    transition: 1s;
}
/*marques*/

#description{
    margin-top:-3%; 
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover{
    background-color: #3a3833;
}
/*latest product*/
 .img-fluid{
    margin-top:8rem;
   
}

#new .one .details{
    position: absolute;
    top:85rem;

    transition: 0.3s ease;
    
   }
   #new .one:hover .details{
      cursor: pointer;
      background-color: rgba(245,178,178,0.7);
     
       
      }
   #new .one:hover button{
       display: inline-block;
       font-size: 14px;
       font-family: 700;
       color: #2a2a2a;
       background: none;
       text-transform: uppercase;
       border-bottom: 1px solid #2a2a2a;
       padding: 2.5px;
       transform:translateY(70%);
       transition: 0.3s ease;
   }
   
   #new .one .details button:hover{
       color:#fff;
       border-bottom: 1px solid #fff; 
   }
   #new .one:nth-child(1) .details{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: flex-start;
       text-align:start;
   }
   #new .one:nth-child(2) .details{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       text-align:center;
   }
   #new .one:nth-child(3) .details{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: flex-end;
       text-align:end;
   }
   hr{
       width:30px;
       height:4px;
       background-color:#fb774b ;
   }
   .star{
       padding:10px 0;
   }
   .star i{
   font-size: 0.8rem;
   color:goldenrod;
   }
   /*product*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity:0.7;
}
.product .buy-btn{
    background: #fb774b;
    transform: translateY(20px);
    opacity:0;
    transition: 0.3s all;
}
.product:hover .buy-btn{
   
    transform: translateY(0px);
    opacity:1;
 
}
#banner{
    background-image: url(..//images/3.jpg);
    width:100%;
    height:60vh;
    background-size: cover;
    background-position: top 70px center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4{
    color:#fff;

}
#banner h1{
    color:#fff;
    
}
#banner button{
    background-color:#fb774b;
    
}
footer{
    background-color:#4d4a49;
}
footer h5{
    color:#D8D8D8;
    font-weight: 700;
    font-size:1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    font-size: 0.8rem;
    color:#999;
}
footer li a:hover{
    color:#D8D8D8;
    color:#999;
}
footer p{
    color:#999;
    font-size: 0.8rem;
}
footer .copyright a{
    color:#000;
    width: 38px;
    height: 38px;
    background-color:#fff;
    display:inline-block;
    text-align: center;
    line-height: 38px;
    border-radius:50%;
    transition: 0.3s ease;
    margin:0 5px;
}
footer .copyright a:hover{
    color:#fff;
    background-color:#fb774b ;
}
/*navbar*/

.navbar-collapse .right{
    float: right;
}
/*About*/
.about-sec{
    margin-top:25px;
}
.text-color{
    color:#000;
}
/*animation about*/
.watch-img{
    animation-name:imgleft;
    animation-duration: 3s;
    
   
}
.about-text{
    animation-name:textright;
    animation-duration: 3s;
    
    
}
.image{
  
    width:100%;
    height:70vh;
    margin-top:5.4em;

}

@keyframes imgleft{
    0%{
        transform:translateX(-120px);
        opacity:0;

    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes textright{
    0%{
        transform:translateX(30px);
        opacity:0;

    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}


#slider span{
    color:coral;
    font-weight: 700;
}
.text-center{
    margin-top:29%;
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover{
    background-color: #3a3833;
}
/*contact*/


main{
  
    width:100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 
}

.wrapper {
    max-width: 850px;
    margin: 50px auto;
    height: 600px;
  
}

 .wrapper .bg-rose {
     background-color: #cfc0c0;
     height: 90%;
     width: 40%;
     padding-left: 50px;
     padding-right: 20px
   
    
 }

 .wrapper .bg-rose .text-white {
     font-size: 3rem;
 }

 .wrapper .bg-rose .cursive {
     font-family: 'Kalam', cursive;
     font-size: 1rem;
     font-weight: 600;
 }

 .wrapper .contact-form {
     width: 100%;
     padding: 40px 80px 40px 50px;
 }

 .wrapper .contact-form .h3 {
     padding-top: 15px;
     font-weight: 700;
 }

 .wrapper .contact-form label {
     font-size:15px;
     color: #000;
     font-weight: 500;
     margin-bottom: 10px;
 }

 .wrapper .contact-form textarea {
     height: 120px;
 }

 .wrapper .contact-form .form-control {
     background-color: #e7e7e7;
     box-shadow: none;
     font-weight: 600;
     font-size: 0.95rem;
     border: none;
     border-top: 1px solid #bbb;
 }

 .wrapper .contact-form .btn {
     font-size: 1.2rem;
     font-weight: 700;
 }



 .wrapper .contact-form .btn.btn-primary {
    background: #c0a0ab;
    border: none;
    padding: 8px 18px;
    box-shadow: 0 8px 12px #3535356b;
}

 .wrapper .contact-form .btn.btn-primary:hover {
     background-color: #080707e5;
 }
 /*mediacontact*/
 @media(max-width: 900.5px) {
    .wrapper {
        margin: 20px;
    }
}

@media(max-width: 575.5px) {
    .wrapper .contact-form {
        padding: 40px;
    }

    .wrapper .bg-yellow {
        padding-left: 30px;
    }
}

@media(max-width: 496px) {
    .wrapper .bg-yellow {
        display: none;
    }
}

@media(max-width: 350px) {
    .wrapper {
        height: 570px;
    }
}

/*shopp*/


.card-1{
    background-color:rgb(88, 87, 87);
  
}
.espace{
    margin-top:-13%;
    background-image: url(..//images/33.jpg);
}
.shop1{
    margin-top:-13%;
    background-image: url(..//images/22.jpg); 
}
.shop2{
    margin-top:-13%;
    background-image: url(..//images/55.jpg); 
}

.single-second:hover,
.single-second:focus,
.single-second:active{
    transform: translateY(2px);
    border:none;}



.second{
    position: relative;
    overflow: hidden;
    cursor: pointer;
 
}

.second:hover,
.second:focus,
.second:active{
  
    transform:scale(1.62);

  
}
/*inscrire*/
.register{
    margin: 0 10%;
}
form.form-control {
    max-width:40%;
    padding: 30px;
    
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.link {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #268fcc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
/*details*/
.mon-conteneur{
    width:100%;
    height:90vh;
    margin-top:10%;
    background: #efefef;
}
.w-100{
    margin-top:5%;
}
.nouveau{
    background: green;
    width:90px;
    color:white;
    font-weight:bold;
}
.col-md-7{
    color:rgb(85, 77, 77);
}
.price{
    color: #fe980ffe;
    font-size:26px;
    font-weight:bold;
    padding-top: 20px;;
}
.quantite{
    border: 1px solid #ccc;
    font-weight: bold;
    height:33px;
    text-align:center;
    width:30px;
}
#panier{
    background: #fE980F;
    color:white;
    font-size: 15px;
    margin-left:20px;
}

/*cart php*/
.shopping-cart-wrap{
    margin-top:10%;
}
.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
} 

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}
.picture{
    width:200px;
    height:100px;
}


