*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: pink;
    
}
.header{
    background-color: rosybrown;
    max-width: 100%;
    height: 5rem;
}


.bodyleft{
    float:left;
    width:20rem;
    height:500px;
    background-color: rgb(172, 168, 168);
    margin:20px;
    margin-top:30px;
    border-radius:10px;
    color: white;
    
}
li{
    list-style-type: none;
    
}
li a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}
.bodyright{
    float:left;
    width:70rem;
    height:500px;
    background-color:rgb(223, 191, 196);
    border-radius:30px;
    margin:-31rem 10px 10px 350px;

   
}